body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url(http://media.zenfs.com/en-US/video/video.pd2upload.com/video.yahoofinance.com@3bcfac20-8f43-37ec-9953-38e6cd43ac92_FULL.jpg);
  background-repeat: none;
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUpButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.carlton{
  content: url(http://i.imgur.com/YdmGHYG.gif);
  height: 250px;
  position:absolute;
}

.snoop{
  content: url(http://media.giphy.com/media/TeBpzQZRaBIC4/giphy.gif);
  height: 250px;
  position:absolute;
}

.fred{
  content: url(http://i.stack.imgur.com/e8nZC.gif);
  height: 250px;
  position:absolute;
}
