body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

/*.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}*/

.Blinky{
  border:10px solid blue;
  border-radius:10px;
  position:absolute;
}

.EDM{
  border:10px solid yellow;
  border-radius:10px;
  position:absolute;
}

/*.Fred{
  border:10px solid green;
  border-radius:10px;
  position:absolute;
}*/

/*refactor later*/

.Fred-Down{
  border:10px solid green;
  border-radius:10px;
  position:absolute;
}

.Fred-Up{
  border:10px solid green;
  border-radius:10px;
  top: -80px;
  position:absolute;
}
